@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'SF';
  src: url('/fonts/sf_regular.OTF');
  font-weight: 400;
}

@font-face {
  font-family: 'SF';
  src: url('/fonts/sf_medium.OTF');
  font-weight: 500;
}

@font-face {
  font-family: 'SF';
  src: url('/fonts/sf_bold.OTF');
  font-weight: 700;
}

html {
  font-family: 'SF', sans-serif;
}

.golden-text {
  background: linear-gradient(270deg, #fee45a -0.17%, #fea613 105.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.token-text {
  background: linear-gradient(180deg, #ffdb6f 0%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-link {
  border-radius: var(--radius-Round, 999px);
  border: 1px solid rgba(255, 255, 255, 0.147);
  background: radial-gradient(
    101.3% 100% at 50% 100%,
    rgba(255, 183, 32, 0.35) 0%,
    rgba(255, 241, 213, 0.08) 73.5%
  );
  transition: all 0.3s ease; /* Smooth animation on hover */
}

.task-claim-btn {
  border-radius: var(--radius-Round, 999px);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    rgba(255, 255, 255, 0.12);
}
.circle-link:hover {
  background: radial-gradient(
    101.3% 100% at 50% 100%,
    rgba(255, 183, 32, 0.6) 0%,
    rgba(255, 241, 213, 0.2) 73.5%
  );
  border: 1px solid rgba(255, 255, 255, 0.6);
  transform: scale(1.1); /* Slightly increase size on hover */
}

.claim-button {
  border-radius: var(--radius-xl, 12px);
  background: linear-gradient(90deg, #fee45a 10.86%, #fea613 101.85%),
    linear-gradient(90deg, #fffbc4 0%, #feb696 56.33%, #ff9a8b 100%);
  box-shadow: 0px 4px 21.1px 2px rgba(255, 225, 179, 0.6),
    19px -9px 18.9px 0px #fff3bf inset;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 99px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #807c7167;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
